@font-face {
    font-family: 'Bebas Neue';
    src: url('asset/fonts/Bebas_Neue/BebasNeue-Regular.ttf');
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scrollbar-width: thin;
    font-family: 'Bebas Neue';
}

html {
    scroll-behavior: smooth;
}

header {
    width: 100vw;
    height: 20vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: start;
    z-index: 10;
}

.header-logo {
    width: 30vh;
    margin-left: 10vh;
    margin-top: 10vh;
}

#menu-container {
    position: relative;
}

#menu-btn {
    position: absolute;
    right: 4vh;
    top: 3vh;
    transition: 0.3s ease-in-out;
}

#menu-btn:hover {
    scale: 1.4;
    cursor: pointer;
}

#menu {
    position: relative;
    right: 0px;
    z-index: -1;
    display: none;
}

#menu-bg {
    width: 120vw;
    position: absolute;
    right: 0;
    top: -130vh;
}

#menu-items {
    position: absolute;
    display: flex;
    width: 65vw;
    justify-content: space-around;
    align-items: end;
    top: 8vh;
    right: 10vh;
}

a {
    font-size: 3vh;
    color: white;
    text-decoration: none;
}

.outer-container {
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    overflow-x: hidden;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    scroll-snap-align: start;
}

.child-img {
    position: absolute;
}

.fixed {
    position: fixed;
}

.full-width {
    width: 100%;
}

#cloud {
    z-index: -2;
    animation: 20s cloud-anim linear infinite;
    bottom: -20vh;
}

@keyframes cloud-anim {
    0% {
        left: -80vw
    }

    100% {
        left: 100vw
    }
}

#canvas {
    position: fixed;
    width: 100vw;
    height: 30vh;
    bottom: 0;
    z-index: 100;
    pointer-events: none;
}